data/tokenizers
__pycache__/
.DS_Store
modded-nanogpt/
modded-nanogpt
data/datasets
data/manifest.json
data/docs_selected.jsonl
.mypy_cache/
.venv
logs/
*.pdf
# local artifacts / large binaries
final_model.*
*.ptz
*.deb
*.pdf
*Zone.Identifier
/v*_local*.log
__pycache__/
.claude/
